@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0px;
}

.primary-black {
    color: 3A3A3A;
}

/********************************Header styles************/
.header {
    max-width: 1500px;
    margin: 0 auto;
}

.nav-manu {

    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    align-items: center;

}

.header-title {
    font-size: 30px;
    font-weight: 700;

}

.nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.nav ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: 3A3A3A;
}

.header-body {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.header-body-col-1 {
    padding: 140px 130px 170px 20px;
}

.header-body-col-1 h3 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

.header-body-col-1 p {
    font-size: 20px;
    font-weight: 400;
}

.header-body-col-2 {
    padding: 50px 0px 70px 130px;
}

.header-body-img-2 {
    position: relative;
    bottom: 450px;

}

.btn-primary {
    background: #E02C6D;
    border: none;
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

/********************************************* Responsive styles **************/

@media screen and (max-width:576px) {

    /****************************************** nav styles responsive **************/
    .nav-manu {
        flex-direction: column;
    }

    .nav ul li a {
        margin-right: 15px;
    }

    .header-body {
        flex-direction: column;

    }

    .header-body-col-1 {
        padding: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    /******************************************* nav styles responsive **************/
    .nav-manu {
        flex-direction: column;
    }
}